<ng-container *ngIf="productDetail">
    <app-slideshow [imageUrls]="imageUrls" [imageSize]="imgSize"></app-slideshow>
    <div class="product-basic-detail-container">

        <div class="product-basic-title-container">
            <span class="product-basic-title" style="line-height: 1.33;">{{
                    productDetail.name
                }}</span>
        </div>
        <div style="text-align: right;line-height: initial;">
            <span class="product-basic-price"> {{i18nLable[locale]["DOLLAR_SIGN"]}} {{
                    productSvc.finalPrice.toFixed(2) 
                }}</span>
        </div>
        <div class="product-basic-desc">
            {{ productDetail.description }}
        </div>
        <div class="product-basic-sale">
            {{i18nLable[locale]["SOLD"]}} &nbsp;
            {{ productDetail.totalSales===null ||productDetail.totalSales===undefined? 0 : productDetail.totalSales }}
        </div>
    </div>
    <app-sold-out-banner *ngIf="soldOut&&!soldOutDismiss" (msgDismiss)="soldOutDismiss=true" [locale]="locale">
    </app-sold-out-banner>
    <div *ngIf="salesAttr.length!=0" class="app-divider"></div>
    <div class="product-basic-detail-container">
        <div *ngFor="let el of salesAttr; let last = last" class="product-basic-option-container"
            [formGroup]="productSvc.formProductSalesAttr">
            <div class="product-basic-option-title">
                {{ productDetail.attrIdMap[el.name] | titlecase }}
            </div>
            <mat-chip-list>
                <ng-container *ngFor="let ee of el.value">
                    <mat-chip [color]="'primary'"
                        (click)="(!currentDisableList.includes(el.name + ee))&&toggleValue(el.name,ee)"
                        [selected]="productSvc.formProductSalesAttr.get(el.name)&&productSvc.formProductSalesAttr.get(el.name).value===ee"
                        [disabled]="currentDisableList.includes(el.name + ee)">
                        {{ ee }}
                    </mat-chip>
                </ng-container>
            </mat-chip-list>
        </div>
    </div>
    <div class="app-divider" *ngIf="productDetail.selectedOptions"></div>
    <div class="product-basic-detail-container">
        <div *ngFor="let el of productDetail.selectedOptions; let last = last"
            [formGroup]="productSvc.formProductOption" class="product-basic-option-container">
            <div class="product-basic-option-title">
                {{ el.title }}
            </div>
            <mat-chip-list>
                <mat-radio-group [formControlName]="el.title">
                    <mat-chip *ngFor="let ee of el.options" (click)="productSvc.formProductOption.get(el.title).setValue(ee.optionValue)">
                        <span
                            >{{ ee.optionValue }}

                        </span>
                        <mat-radio-button *ngIf="productSvc.formProductOption.get(el.title).value===ee.optionValue"
                            [color]="'primary'" [value]="ee.optionValue" [labelPosition]="'before'">
                        </mat-radio-button>
                    </mat-chip>
                </mat-radio-group>
            </mat-chip-list>
        </div>
    </div>
</ng-container>